<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Boostrap Multiselect CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css" type="text/css"/>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <!--Bootstrap Multiselect-->
    <script type="text/javascript" src="/js_libs/bootstrap-multiselect.js"></script>
</head>